*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Gotham Pro";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header .emails [class*="icon"] {
    font-size: 20px;
}

header .emails:hover {
    color: #ffffff;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.invisLink {
    position: absolute;
    height: 53px;
    width: 135px;
    padding-top: 20px;
    padding-left: 295px;

}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.invisLinks {
    position: absolute;
    height: 53px;
    width: 135px;
    padding-left: 800px;

}

.invisLinks > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

header .fonHeader {
    width: 1920px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

header .table {
    display: table;
    width: 100%;
}

header .left,
header .logo,
header .right {
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
}

header .left {
    text-align: left;
    padding-right: 20px;
}

header .logo {
    text-align: center;
}

header .right {
    text-align: right;
}

.contact {
    height: 450px;
}

.uniteItem .item {
    float: left;
    width: 33%;
    padding-top: 180px;
    padding-left: 280px;
}

.imageContacts {
    height: 530px;
}

.greyFon {
    height: 780px;
}

.feedBack {
    padding-top: 90px;
    text-align: center;
}

.feedBack h4 {
    font-size: 17px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 400;
}

.feedBack h2 {
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 110px;
}

.uniteItem span:nth-child(1) {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.uniteItem span:nth-child(3) {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.uniteItem span:nth-child(5) {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.uniteItem span:nth-child(2) {
    font-size: 17px;
    line-height: 36px;
}

.uniteItem span:nth-child(4) {
    font-size: 17px;
    line-height: 36px;
}

.uniteItem span:nth-child(6) {
    font-size: 17px;
    line-height: 36px;
}

.fonHeader {
    display: inline-block;
}

header .emails {
    margin-right: 80px;
    margin-left: 735px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

header .emails:hover {
    color: #66aaf5;
}

header .times {
    margin-right: 80px;
    text-transform: uppercase;
    color: #ffffff;
}

.tit {
    margin-right: 80px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .tit:hover {
    color: #66aaf5;
}

.time {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.tit {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.menu {
    padding-left: 650px;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.logo {
    width: 1300px;
    height: 670px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.logo .words {
    margin-top: 195px;
}

.logo .words .btnOne {
    margin-top: 60px;
}

.logo span:nth-child(1) {
    width: 30px;
    line-height: 90px;
    text-transform: uppercase;
}

.logo span:nth-child(2) {
    width: 70px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 700;
}

.logo span:nth-child(3) {
    width: 70px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 700;
}

.menu li a {
    text-decoration: none;
    margin-left: 45px;
}

.menu li a:hover {
    color: #66aaf5;
}

.logo span:nth-child(1) {
    font-size: 30px;
    line-height: 90px;
    color: #ffffff;
}

.logo span:nth-child(2) {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
}

.logo span:nth-child(3) {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
}

.menuLink li a {
    font-size: 15px;
    line-height: 30px;
    color: #263441;
    text-decoration: none;
}

.btnOne {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    background: none;
    border: 3px solid #ffffff;
    text-transform: uppercase;
}

.btnOne:hover {
    color: #66aaf5;
}

.sendMessage {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    background: none;
    border: 3px solid #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.sendMessage:hover {
    color: #66aaf5;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    margin-top: 100px;
}

.banner {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.unite {
    padding-left: 220px;
    margin-top: -300px;
}

.banner .unite .pBan p {
    font-size: 17px;
    line-height: 90px;
    color: #ffffff;
    padding-left: 230px;
    margin-top: -20px;
}

.banner .unite .pBann p {
    font-size: 70px;
    line-height: 30px;
    color: #61acff;
    padding-left: 230px;
    margin-top: -20px;
}

.banner h1:nth-child(1) {
    font-size: 17px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 400;
}

.banner h1:nth-child(2) {
    font-size: 70px;
    line-height: 70px;
    color: #ffffff;
}

.banner h1:nth-child(3) {
    font-size: 70px;
    line-height: 70px;
    color: #ffffff;
}

.titBan {
    padding-left: 380px;
    padding-top: 100px;
}

.infoContent {
    position: absolute;
    padding-left: 700px;
    margin-top: -400px;
}

.licenseBlock {
    position: relative;
    float: right;
    margin-right: 150px;
    margin-top: -360px;
}

.titleHFour {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
}

.titleHOne {
    font-size: 50px;
    line-height: 70px;
    color: #263441;
}

.textP {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
}

.addressUnd {
    font-size: 15px;
    line-height: 24px;
    display: block;
    color: #589ae3;
}

.under span:nth-child(2) {
    font-size: 15px;
    line-height: 24px;
    display: block;
    color: #263441;
}

.under span:nth-child(3) {
    font-size: 15px;
    line-height: 24px;
    display: block;
    color: #263441;
}

.licUnd {
    font-size: 15px;
    line-height: 24px;
    display: block;
    color: #589ae3;
}

.under span:nth-child(5) {
    font-size: 15px;
    line-height: 24px;
    color: #263441;
}

.info {
    margin-top: 200px;
    width: 100%;
    height: 800px;

}

.medText {
    font-size: 17px;
    line-height: 70px;
    color: #ffffff;
    padding-left: 380px;
    font-weight: 400;
    padding-top: 100px;
}

.medOur {
    font-size: 50px;
    line-height: 70px;
    color: #ffffff;
    padding-left: 380px;
}

.p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 380px;
    padding-top: 100px;
}

.infoTwo p {
    padding-left: 450px;
    margin-top: -40px;
}

.infoTwo p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

.infoTwo img {
    padding-left: 380px;
    margin-top: 10px;
}

.infoTwo span {
    font-size: 24px;
    line-height: 50px;
    color: #ffffff;
}

.infoTwo span {
    position: absolute;
    margin-left: -35px;
    margin-top: 15px;
}

.statistic {
    font-size: 17px;
    line-height: 100px;
    color: #ffffff;
    width: 100%;
    height: 320px;
    margin: 0;
}

.stat {
    width: 33.333%;
    float: left;
    padding: 0 200px;
}

.statistic span {
    font-size: 17px;
    line-height: 100px;
    font-weight: 400;
}

.statistic span:nth-child(2) {
    font-size: 50px;
    line-height: 100px;
    color: #ffffff;
}

.statistic span:nth-child(4) {
    font-size: 50px;
    line-height: 100px;
    color: #ffffff;
}

.statistic span:nth-child(6) {
    font-size: 50px;
    line-height: 100px;
    color: #ffffff;
}

.imageLeft {
    width: calc(100% - 960px);
    height: 652px;
    padding: 0 15px;
    float: left;
}

.report {
    position: relative;
    padding-top: 40px;
}

.report p {
    display: block;
    font-size: 17px;
    line-height: 36px;
    color: #263441;
    text-align: center;
}

.report .repOne img {
    display: block;
    margin: 0 auto;
}

.report .repTwo img {
    display: block;
    margin: 0 auto;
}

.report .repThree img {
    display: block;
    margin: 0 auto;
}

.report .repFour img {
    display: block;
    margin: 0 auto;
}

.repTwo {
    margin-top: 140px;
}

.repFour {
    margin-top: 140px;
}

.report1 {
    position: relative;
    display: table;
    vertical-align: middle;
    padding-left: 120px;
    padding-top: 70px;
}

.report2 {
    position: relative;
    display: table;
    vertical-align: middle;
    padding-left: 590px;
    margin-top: -440px;
}

.report span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    text-align: center;
    display: block;
    font-weight: 600;
}

.title {
    margin-top: 100px;
    display: block;
}

.price {
    height: 470px;
    width: 1200px;
    background-position: center;
    margin-left: 380px;
    margin-top: 120px;
    display: flex;
    flex-wrap: nowrap;
}

.first {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 33.33%;
}

.priceA {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33.33%;
}

.priceB {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33.33%;
}

.tHThree {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-align: center;
}

.tHOnes {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    text-transform: uppercase;
    text-align: center;
}

.priceOne {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
}

.pricesOne {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.pricesTwo {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
}

.price span:nth-child(1) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.price span:nth-child(2) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.price span:nth-child(3) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.price span:nth-child(4) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.butInv {
    font-size: 17px;
    line-height: 30px;
    color: #2173ce;
}

.pricesA {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
}

.pricesAa {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.pricesAaa {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
}

.priceA span:nth-child(1) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.priceA span:nth-child(2) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.priceA span:nth-child(3) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.priceA span:nth-child(4) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.butInvA {
    font-size: 17px;
    line-height: 30px;
    color: #2173ce;
}

.pricesB {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
}

.pricesBb {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}

.pricesBbb {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
}

.priceB span:nth-child(1) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.priceB span:nth-child(2) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.priceB span:nth-child(3) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.priceB span:nth-child(4) {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}

.butInvB {
    font-size: 17px;
    line-height: 30px;
    color: #2173ce;
}

.titleTl {
    font-size: 17px;
    line-height: 90px;
    color: #ffffff;
}

.comments img {
    display: table;
    width: 100%;
}

.comments p {
    margin-top: -255px;
}

.comment1 {
    width: 50%;
    float: left;
    padding-left: 30px;
}

.comment2 {
    width: 50%;
    float: right;
    padding-left: 30px;
}

.comments p:nth-child(1) {
    font-size: 17px;
    line-height: 30px;
    color: #778b9d;
}

.comments p:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #778b9d;
}

.item {
    float: left;
    padding-bottom: 100px;
    margin-top: -230px;
    margin-left: 545px;
}

.item .pictureFace1 {
    width: 80px;
    height: 80px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.item .pictureFace2 {
    width: 80px;
    height: 80px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.item .pictureFace1 span:nth-child(1) {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    padding-top: 10px;
}

.item .pictureFace1 span:nth-child(3) {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    padding-top: 10px;
}

.item .pictureFace1 span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
    padding-top: 10px;
}

.item .pictureFace1 span:nth-child(4) {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
    padding-top: 10px;
}

.news {
    width: 1920px;
    height: 950px;
}

.newsImage {
    width: 100%;
    padding-bottom: 100px;
    margin-top: 125px;
    padding-left: 350px;
    padding-right: 370px;
}

.newsPic1 {
    width: 33.333%;
    float: left;
    height: 560px;
}

.newsPic2 {
    width: 33.333%;
    float: left;
}

.newsPic3 {
    width: 33.333%;
    float: left;
}

.titleNews {
    padding-top: 50px;
    text-align: center;
}

.news .titleNews span:nth-child(1) {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    margin-top: 400px;
    text-transform: uppercase;
}

.news .titleNews span:nth-child(2) {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 600;
    text-transform: uppercase;
}

.news .newsImage span {
    font-size: 15px;
    line-height: 22px;
    color: #589ae3;
}

.newsImage h1 {
    font-size: 17px;
    line-height: 30px;
    color: #3c3950;
    text-transform: uppercase;
    text-align: center;
}

.newsImage p {
    font-size: 15px;
    line-height: 24px;
    color: #778b9d;
}

.comments {
    height: 675px;
    width: 100%;
}

.partner {
    text-align: center;
    height: 50px;
    padding-top: 50px;
}

.payments {
    text-align: center;
    height: 50px;
    padding-top: 50px;
}

.fonRegister {
    height: 840px;
}

.contentReg h1 {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 100px;
}

.but {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    background: none;
    border: 3px solid #ffffff;
    text-transform: uppercase;
}

.but:hover {
    color: #66aaf5;
}

.bannerCont p {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 110px;
}

.bannerCont {
    height: 305px;
    padding-left: 760px;
}

footer a:hover {
    color: #66aaf5;
}

footer .leftFoot {
    width: 260px;
    float: left;
    margin-left: 380px;
}

footer .menuFoot {
    width: 560px;
    float: left;
    padding-left: 200px;
}

footer .labelFoot {
    margin-left: 40px;
}

footer .rightFoot {
    width: 250px;
    float: left;
}

footer .leftFoot span {
    line-height: 22px;
    display: block;
    text-align: center;
    margin-top: 25px;
}

footer .menuFoot a {
    font-weight: 600;
}

footer .menuFoot .left {
    width: 50%;
    float: left;
}

footer .menuFoot .right {
    width: 50%;
    float: left;
}

footer a {
    color: #ffffff;
}

.message {
    padding-top: 50px;
    width: 1165px;
}
